{% extends "base.html.twig" %}

{% block title %}Mon espace personnel | Esperer95-app{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

  <h1 class="h2 mb-3">Mon espace personnel</h1>
  <div class="small text-secondary">
    <p> Dernière connexion le {{ user.lastLogin | date("d/m/Y à H:i") }}</p>
  </div>

  {% include "model/msgFlash.html.twig" %}

  <hr>

  <div class="my-5">
    {% include "app/home/listSupports.html.twig" %}
    {% include "app/home/listRdv.html.twig" %}
    {% include "app/home/listNotes.html.twig" %}
    {#{% include "app/home/listTasks.html.twig" %}#}
  </div>

</div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("home") }}
{% endblock javascripts %}