{% extends "base.html.twig" %}

{% block stylesheets %}{% endblock %}

{% block title %}Accueil | Esperer95-app{% endblock %}

{% block body %}

<div class="container">
    {% include "model/msgFlash.html.twig" %}
    <h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto enim culpa velit mollitia illum veritatis,
        dignissimos
        saepe nemo obcaecati. Similique, quos, magnam blanditiis quam eligendi laudantium quod ab nobis dolor vel
        adipisci
        maiores quis quidem necessitatibus natus totam. Nostrum, accusantium?</p>
    <p>Placeat dolorum, doloribus voluptatibus tempore repellendus eaque voluptas velit aperiam, perferendis enim
        molestias
        modi, iure harum laboriosam. Nesciunt maxime accusantium facilis corporis natus soluta veritatis, dolore est,
        animi
        ea consequuntur dicta dolores dolor nisi a recusandae aspernatur reiciendis consequatur ipsum.</p>

</div>
{% endblock %}