
{% set modal_id = "modal-new-support" %}

{% extends "model/_modalDialog.html.twig" %}

{% block modal_title %}Nouveau suivi{% endblock %}

{% block modal_body_and_footer %}

<div id="container-form-new-support">
    {# {% include "app/support/_formNewSupport.html.twig" %} #}
</div>

{% endblock %}
