
{% form_theme form "form/bootstrap_4_horizontal.html.twig" %}

{{ form_start(form) }}

{{ form_widget(form) }}

{# {% if form.vars.value.accommodationGroups.count > 0 and form.accommodationGroups is defined %}
    {{ form_widget(form.accommodationGroups[0].accommodation) }}
{% endif %} #}

<!-- <button type="submit" id="send" name="send">Enregistrer</button> -->

{{ form_end(form) }}