<div class="col-sm-10" data-select2-id="3">
    <select multiple="" id="specifities" name="specifities" class="form-control multi-select select2-hidden-accessible"
        data-select2-id="specifities" tabindex="-1" aria-hidden="true">
        <option value="1" data-select2-id="9">Présence d'un animal</option>
        <option value="2" data-select2-id="10">Personne en fauteuil roulant</option>
        <option value="3" data-select2-id="11">Personne à mobilité réduite</option>
        <option value="4" data-select2-id="12">Personne victime de violence</option>
        <option value="5" data-select2-id="13">Femme victime de violence conjugale</option>
        <option value="6" data-select2-id="14">Prise en charge ASE</option>
        <option value="7" data-select2-id="15">Autre spécificité</option>
    </select>
    <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
        dir="ltr" data-select2-id="1" style="width: 769.986px;"><span class="selection"><span
                class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true"
                aria-expanded="false" tabindex="-1" aria-disabled="false">
                <ul class="select2-selection__rendered">
                    <li class="select2-selection__choice" title="Personne en fauteuil roulant" data-select2-id="16">
                        <span class="select2-selection__choice__remove" role="presentation">×</span>Personne en fauteuil
                        roulant</li>
                    <li class="select2-search select2-search--inline"><input class="select2-search__field" type="search"
                            tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false"
                            role="searchbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;"></li>
                </ul>
            </span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
</div>