{% extends "model/collapseCard.html.twig" %}

{% set id = "sit-budget" %}

{% block collapse_card_title %}Situation budgétaire{% endblock %}

{% block collapse_card_body %}

<div class="form-group row">

    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>

</div>

{% endblock %}