{# {% extends "model/collapseCard.html.twig" %} #}

{% set id = "sit-summary" %}

{% block card_title %}Synthèse de la situation{% endblock %}

{% block card_body %}

<div class="form-group row">
    <div class="col-md-6"></div>
</div>
{% endblock %}