{% extends 'base.html.twig' %}

{% set only_headers = form.vars.value.head == true %}
{% set restoration_mode = form.deleted.deleted.vars.checked and is_granted('ROLE_SUPER_ADMIN') %}
{% set title = 'Suivis' ~ (restoration_mode ? ' (Corbeille)') %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <section class="mt-0">
        <div class="container-fluid pt-4">
            {% include 'model/_flash_message.html.twig' %}
            <h1 class="h2 mb-3">{{ title }}</h1>
        </div>

        {% include 'app/support/_partials/_support_search_form.html.twig' %}

        <div class="container-fluid mt-4">
            {% include 'app/support/_partials/_support_table.html.twig' %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock javascripts %}