<div id="document_preview_modal" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="documentPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-preview d-flex justify-content-center align-items-center" role="document">
        <div class="modal-content border-0 bg-dark d-flex align-items-center">
            <div class="js-content h-100 justify-content-center align-items-center"></div>
            <div class="modal-footer-preview">
                <button type="button" class="btn btn-secondary shadow" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-{{ theme_color }} shadow" data-action="edit">
                    <i class="fas fa-edit me-2"></i>Editer
                </button>
                <button class="btn btn-{{ theme_color }} shadow" data-path=""
                    data-action="download" title="Télécharger le document" data-toggle="tooltip" data-placement="bottom">
                    <i class="fas fa-file-download me-2"></i>Télécharger
                </button>
            </div>
        </div>
    </div>
</div>