{% extends "model/_supportSearch.html.twig" %}

{% form_theme form_search "bootstrap_4_layout.html.twig" %}

{% block search_form %}
    <div class="col-auto my-1 px-1">{{ form_row(form_search.name) }}</div>
    <div class="col-auto my-1 px-1">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" title="Étiquettes" data-toggle="tooltip" data-placement="bottom">
                    <i class="fas fa-tag text-black-50"></i>
                </div>
            </div>
            {{ form_widget(form_search.tags) }}
        </div>    
    </div>
{% endblock %}
