{% extends 'model/_support_search_form.html.twig' %}

{% form_theme form_search 'bootstrap_5_layout.html.twig' %}

{% block search_form %}
    <div class="col-auto my-1 px-1">{{ form_row(form_search.name) }}</div>
    <div class="col-auto my-1 px-1">
        <div class="input-group">
                <div class="input-group-text" title="Étiquettes" data-toggle="tooltip" data-placement="bottom">
                    <i class="fas fa-tag text-black-50"></i>
                </div>
            {{ form_widget(form_search.tags) }}
        </div>    
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-auto my-auto">
            <div class="custom-control custom-checkbox custom-checkbox-{{ theme_color }} ps-0"
                title="Voir les documents supprimés" data-toggle="tooltip" data-placement="bottom">
                {{ form_widget(form_search.deleted.deleted) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
