{% extends 'model/_support_search_form.html.twig' %}

{% block search_form %}
    <div class="col-auto my-1 px-1">{{ form_widget(form_search.name) }}</div>
    <div class="col-auto my-1 px-1">
        <div class="input-group">
                <div class="input-group-text" title="Étiquettes" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <i class="fas fa-tag text-black-50"></i>
                </div>
            {{ form_widget(form_search.tags) }}
        </div>    
    </div>
{% endblock %}
