<button class="btn btn-success btn-sm shadow" name="restore" data-action="restore" data-url="{{ path_route }}" 
    title="{{ restore_title ?? 'Restaurer' }}" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <i class="fa-solid fa-trash-arrow-up"></i>
</button>