<a href="{{ path_route }}" class="btn btn-success btn-sm shadow {{ more_class is defined ? more_class : '' }}"
    style="{{ more_style is defined ? more_style : '' }}" title="{{ title is defined title : 'Restaurer' }}"
    data-action="restore-note" data-toggle="tooltip" data-placement="bottom"><i class="fa-solid fa-trash-arrow-up"></i>
</a>