<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('config')
    ->exclude('node_modules')
    ->exclude('public/bundles')
    ->exclude('public/build')
    ->exclude('public/uploads')
    ->exclude('var')
    ->exclude('vendor')
    ->exclude('web')
    ->notPath('bin/console')
    ->notPath('public/index.php')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR1' => true,
        '@PSR2' => true,
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
     // 'single_quote' => false
    ])
    ->setFinder($finder)
    ->setCacheFile(__DIR__.'/var/.php_cs.cache')
;