language: php

sudo: required

before_install:
  - sudo installation/geckodriver.sh latest
  - sudo installation/chromedriver.sh latest
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

addons:
  firefox: latest
  chrome: stable

php:
  # - "7.2"
  - "7.3"

script:
  - composer install
  - yarn install
  - npm run build
  - php bin/console doctrine:database:create --env=test   
  - php bin/console doctrine:schema:update --env=test --force   
  - php bin/console hautelook:fixtures:load --env=test --no-interaction
  - php bin/console doctrine:database:create --env=dev   
  - php bin/console doctrine:schema:update --env=dev --force   
  - php bin/console hautelook:fixtures:load --env=dev --no-interaction
  - php bin/phpunit tests/Entity
  - php bin/phpunit tests/Repository
  - php bin/phpunit tests/Controller
  - php bin/phpunit tests/EndToEnd