{% if addPersonForm.supportPerson.vars.choices|length > 0 %}
    {{ form_start(addPersonForm, {'action': path('support_place_group_add_person', {'id': form.vars.value.id})}) }}
        <div class="row row-cols-lg-auto align-items-center">
            <div class="col-auto px-1">{{ form_widget(addPersonForm.supportPerson) }}</div>
            <div class="col-auto px-1">
                <button type="submit" id="add-person" name="add-person" class="btn btn-primary shadow"
                    title="Ajouter cette personne à la prise en charge" data-bs-toggle="tooltip" data-bs-placement="bottom">
                    <span class="fas fa-plus-square me-2"></span>Ajouter</button>
            </div>
        </div>
    {{ form_end(addPersonForm) }}
{% endif %}