{% form_theme addPersonForm "bootstrap_4_layout.html.twig" %}

{% if addPersonForm.rolePerson.vars.choices|length > 0 %}
    {{ form_start(addPersonForm, {'action': path('support_add_person', {'id': support.id})}) }}
        <div class="form-inline">
            <div class="form-group my-1 px-1">{{ form_widget(addPersonForm.rolePerson) }}</div>
            <div class="form-group my-1 px-1">
                <button type="submit" id="add-person" name="add-person" class="btn btn-{{ theme_color }} shadow"
                    title="Ajouter cette personne au suivi" data-toggle="tooltip" data-placement="bottom">
                    <span class="fas fa-plus-square mr-2"></span>Ajouter</button>
            </div>
        </div>
    {{ form_end(addPersonForm) }}
{% endif %}