{{ form_start(addPersonForm, {'action': path('support_add_person', {'id': support.id})}) }}

<div class="row row-cols-lg-auto align-items-center">
    <div class="col-auto px-1">{{ form_widget(addPersonForm.rolePerson) }}</div>
    <div class="col-auto px-1">
        <button type="submit" id="add-person" name="add-person" class="btn btn-primary shadow"
            title="Ajouter cette personne au suivi" data-bs-toggle="tooltip" data-bs-placement="bottom">
            <span class="fas fa-plus-square me-2"></span>Ajouter</button>
    </div>
</div>

{{ form_end(addPersonForm) }}