{% form_theme coef_form 'bootstrap_5_layout.html.twig' %}

<section>
    <h2 class="h5 my-4">Coefficient du suivi</h2>
    {{ form_start(coef_form, {
        'action': path('support_edit_coefficient', {'id': support.id})
    }) }}
        <div class="row row-cols-lg-auto align-items-center mx-1">
            <div class="col-auto px-1">{{ form_label(coef_form.coefficient) }}</div>
            <div class="col-auto px-1">{{ form_widget(coef_form.coefficient) }}</div>
            <div class="col-auto px-1">
                <button type="submit" id="send-coeff" name="send-coeff" class="btn btn-primary shadow">
                    <span class="fas fa-save me-2"></span>Modifier</button>
            </div>
        </div>
    {{ form_end(coef_form) }}
</section>

<hr>