
{% set modal_id = 'modal-new-support' %}

{% extends 'model/_modal_dialog.html.twig' %}

{% block modal_title %}Nouveau suivi{% endblock %}

{% block modal_body_and_footer %}

    <div id="container-form-new-support"></div>
{% endblock %}
