<div data-rdv-id="{{ rdv.id }}">
    <div class="calendar-event bg-primary text-light" data-action="show"
        title="Voir le rendez-vous" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <span data-object-key="start">{{ rdv.start|date('H:i') }}</span>
        <span data-object-key="title">{{ rdv.title }}</span>
    </div>
</div>