<div id="modal-rdv" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalRdvLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body pb-0">
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="float-right">
                    <button type="button" id="js-btn-cancel" class="btn btn-secondary"
                        data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
</div>