{% extends 'model/_modal_dialog.html.twig' %}

{% block modal_body %}
    <p>Attention, vous n'avez pas enregistrer les modifications. <br/>Continuez sans sauvegarder ?</p>
{% endblock %}
{% block modal_bg %}bg-light{% endblock %}
{% block modal_button_confirm %}Confirmer{% endblock %}
