{% extends 'model/_modal_dialog.html.twig' %}

{% block modal_body %}
    <p>Êtes-vous vraiment sûr de vouloir supprimer cette note ?</p>
{% endblock %}
{% block modal_bg %}bg-light{% endblock %}
{% block modal_button_confirm %}Supprimer la note{% endblock %}
{% block modal_alert %}danger{% endblock %}