{% extends 'model/_accordion.html.twig' %}

{% block accordion_title %}Mes dernières notes{% endblock %}

{% block accordion_body %}
    <div class="row">
        <div class="col-md-12">
            <p>
                <a class="btn btn-primary" href="{{ path('note_index') }}">Voir toutes mes notes</a>
            </p>
        </div>
    </div>
    <div>
        <div class="table-responsive">
            <table class="table table-striped table-hover text-dark">
                <thead>
                <tr>
                    <th scope="col" class="align-middle th-w-20"></th>
                    <th scope="col" class="align-middle th-w-150">Note</th>
                    <th scope="col" class="align-middle th-w-100">Statut</th>
                    <th scope="col" class="align-middle th-w-100">Nom du suivi</th>
                    <th scope="col" class="align-middle th-date">Créé le</th>
                    <th scope="col" class="align-middle th-date">Modifié le</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for note in notes %}
                    {{ include('app/note/_note_tr_component.html.twig') }}
                {% else %}
                    <tr>
                        <td colspan="6">Aucune note.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}