{% extends "base.html.twig" %}

{% block title %}Tableau de bord | {{ title_website }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<div class="container">

  <h1 class="h2 mb-3">Tableau de bord </h1>
  <p class="small text-secondary"> Dernière connexion le {{ app.user.lastLogin|date("d/m/Y à H:i") }}</p>

  {% include "model/msgFlash.html.twig" %}

  <hr>

  <div class="my-5">
    {% include "app/managing/managingServices.html.twig" %}
    {% include "app/home/indicators.html.twig" %}
    {% include "app/home/listUsers.html.twig" %}
  </div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags("home") }}
{% endblock javascripts %}