:root {
    --primary: #F39C12;
    --secondary: #95a5a6;
}

body {
    background-color: #f5f5f5;
}

section {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Retour à la ligne pour le titre du blog */
.navbar-brand {
    white-space: normal;
}


.min-vh-80 {
    min-height: 80vh;
}

.card {
    margin-bottom: 20px;
}

.a-edit-post {
    position: absolute;
    top: 2px;
    right: 4px;
}

.report-comment {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fas.fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
}

.js-password-group {
    position: relative;
}

.js-show-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0.5;
}

.js-show-password:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease;
}


/* Gestion de dépassement des articles sur la page Blog */
.post_content,
.comment-content {
    position: relative;
    max-height: 300px;
    overflow: hidden;
}

/* Effet fade out pour le contenu des articles et des commentaires  */
.post-fadeout,
.comment-fadeout {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
}

.page-item.active a {
    color: #fff !important;
}

#scroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 40px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    z-index: 100;
}

#scroll-top .fa.fa-chevron-up {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 30px;
    color: #fff;
}

#scroll-top:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease;
}

#post-content {
    overflow-x: auto;
}

.w-max-100 {
    max-width: 100px;
}

.w-max-120 {
    max-width: 120px;
}

.w-max-140 {
    max-width: 140px;
}

.w-max-160 {
    max-width: 160px;
}

.w-max-180 {
    max-width: 180px;
}

.w-min-100 {
    min-width: 100px;
}

.w-min-150 {
    min-width: 150px;
}


ul {
    list-style-type: none;
}

.font-size-09 {
    font-size: 0.9rem;
}

.font-size-10 {
    font-size: 1rem;
}

#results_search {
    position: absolute;
    top: 35px;
}

.fade-in {
    opacity: 1;
    /* height: 100%; */
    transition: all 0.2s ease;
}

.fade-out {
    /* overflow: hidden; */
    opacity: 0;
    /* height: 0%; */
    transition: all 0.5s ease;
}


.position-fixed {
    z-index: 1000;
}

.js-msg-content {
    backdrop-filter: blur(4px);
}

/* Notifications */
.msg-flash {
    min-height: 80px;
    opacity: 0.9;
}