.bg-primary,
.badge-primary {
    background-color: var(--habitat);
    /* color: white; */
}

/* Pagination de la page des articles du blog */
.page-item.active .page-link {
    background-color: var(--habitat);
    border-color: var(--habitat);
}

.text-primary {
    color: var(--habitat) !important;
}

a {
    color: var(--habitat);
}

a.text-primary:hover,
a.text-primary:focus {
    color: #7A3E2F !important;
}

.bg-primary {
    background-color: var(--habitat) !important;
}

.btn-link {
    color: var(--habitat);
}

.btn-link:hover {
    color: #7A3E2F;
}

.btn-primary {
    /* color: #fff; */
    background-color: var(--habitat);
    border-color: var(--habitat);
}

.btn-primary:hover {
    /* color: #fff; */
    background-color: #7A3E2F;
    border-color: #7A3E2F;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(167, 126, 74, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    /* color: #fff; */
    background-color: var(--habitat);
    border-color: var(--habitat);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    /* color: #fff; */
    background-color: #7A3E2F;
    border-color: #7A3E2F;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(167, 126, 74, 0.5);
}

.btn-outline-primary {
    color: var(--habitat);
    border-color: var(--habitat);
}

.btn-outline-primary:hover {
    /* color: #fff; */
    background-color: var(--habitat);
    border-color: var(--habitat);
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(167, 126, 74, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: var(--habitat);
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    /* color: #fff; */
    background-color: var(--habitat);
    border-color: var(--habitat);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(167, 126, 74, 0.5);
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--habitat);
    background-color: var(--habitat);
}