{% extends "model/search.html.twig" %}

{% block search_form %}

{% if form.service.services.vars.choices|length > 1 %}
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.service.services) }}</div>
{% endif %}
{% if form.service.subServices.vars.choices|length > 1 %}
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.service.subServices) }}</div>
{% endif %}
{% if form.service.devices.vars.choices|length > 1 %}
    <div class="form-group col-auto my-1 px-1">{{ form_row(form.service.devices) }}</div>
{% endif %}
{{ form_row(form.send) }}

{% endblock %}