{% extends 'model/_accordion.html.twig' %}

{% block card_title %}Paramètres{% endblock %}

{% block card_body %}

    <div class="row">
        <div class="col-md-12"><h2 class="h4 mb-3">Rappels</h2></div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">{{ form_row(form.weeklyAlert) }}</div>
        <div class="col-md-6">{{ form_row(form.dailyAlert) }}</div>
    </div>

{% endblock %}


{#        {% include "app/admin/home/_userSetting.html.twig" with {accordion_id: "userSetting"} %}#}