{% extends "model/_modalDialog.html.twig" %}

{% block modal_body %}
    <p>Êtes-vous sûr de vouloir supprimer cette personne de la prise en charge ?</p>
{% endblock %}
{% block modal_confirm %}Supprimer{% endblock %}
{% block modal_alert %}danger{% endblock %}