@import "./bootstrap-custom";

$header-md-height: 80px;
$header-sm-height: 60px;
$header-xs-height: 50px;

@import "./_mixins";

@import "./_form";
@import "./_table";
@import "./_helpers";

@import "./components/_components";
@import "./features/_features";

html {
    scroll-behavior: smooth;
}

body {
    padding-top: $header-md-height;
    background-color: var(--bs-gray-100);
}

section {
    margin: 1rem 0 1.5rem 0;
}

.container {
    padding-top: 1.5rem;
}

.min-vh-100 {
    min-height: calc(100vh - 243px) !important;
}

.min-vh-80 {
    min-height: calc(100vh - 282px);
}

a:not(:hover) {
    text-decoration: none;
}

.fas {
    line-height: normal; // Fix problem with background color
}

@each $color, $value in $theme-colors {
    html[data-theme-color="#{$color}"] {
        .bg-primary {
            background-color: $value !important;
        }

        .text-primary {
            color: $value !important;
        }

        .dropdown-item:focus {
            color: $white;

            @include gradient-bg(tint-color($value, $link-shade-percentage));
        }
    }
} 

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    body {
        padding-top: $header-sm-height;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    body {
        padding-top: $header-xs-height;
    }
}