{% extends "app/evaluation/edit/model/_evaluationAccordion.html.twig" %}

{% block card_title %}Parcours de vie{% endblock %}

{% block card_body %}

	<div class="row mb-3">
		<div class="col-md-12 d-none">{{ form_label(form.backgroundPeople) }}</div>
		<div class="col-md-12">{{ form_widget(form.backgroundPeople) }}</div>
	</div>
	{{ parent() }}
	
{% endblock %}
