{% set modal_id = 'modal-remove-person' %}

{% extends 'model/_modal_dialog.html.twig' %}

{% block modal_body %}
    <p>Êtes-vous vraiment sûr de vouloir retirer cette personne du groupe ?</p>
{% endblock %}
{% block modal_bg %}bg-light{% endblock %}
{% block modal_button_confirm %}Retirer la personne{% endblock %}
{% block modal_alert %}danger{% endblock %}