{#  #}
{% macro get(value, key = null, trans = 'forms') %}
    {% if value != null and 'Non ' not in value %}
        <div class="col-md-6 mb-1 py-2">
            {% if key %}<span class="py-2 fw-bold">{{ key|trans({}, trans) }} : </span>{% endif %}
            <span>{{ value }}</span>
        </div>
    {% endif %}
{% endmacro %}