{#  #}
{% macro get(value, key = null, trans = 'forms') %}{% apply spaceless %}
    {% if value != null and 'Non ' not in value %}
        <p>{% if key %}<b>{{ key|trans({}, trans) }} : </b>{% endif %}{{ value }}</p>
    {% endif %}
{% endapply %}{% endmacro %}