{#  #}
{% macro get(value, key = null, trans = "forms") %}{% apply spaceless %}
    {% if value != "" and value != "Non renseigné" %}
        <p>{% if key is not null %}<b class="text-secondary">{{ key|trans({}, trans) }} : </b>{% endif %}{{ value }}</p>
    {% endif %}
{% endapply %}{% endmacro %}