{#  #}
{% macro get(value, key = null, trans = "forms") %}{% apply spaceless %}
    {% if value not in ["", "Non renseigné"] %}
        <li>{% if key %}<b>{{ key|trans({}, trans) }} : </b>{% endif %}{{ value }}</li>
    {% endif %}
{% endapply %}{% endmacro %}