
@import 'tom-select/dist/css/tom-select.bootstrap4.min.css';

.form-control,
.input-group-text {
    font-size: $font-size-base;
}

// Bouton case à cocher
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    border-radius: 4px;
}
// Bouton radio
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    border-radius: 50%;
}

.form-check-label.custom-control-label:after,
.form-check-label.custom-control-label:before {
    width: 1.25rem;
    height: 1.25rem;
}

.custom-control-label {
    padding-left: 0.5rem;
}

.custom-checkbox-dark .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox-dark .custom-control-input:checked~.custom-control-label::after,
.custom-radio-dark .custom-control-input:checked~.custom-control-label::before,
.custom-radio-dark .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--dark);
}

.custom-checkbox-secondary .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox-secondary .custom-control-input:checked~.custom-control-label::after,
.custom-radio-secondary .custom-control-input:checked~.custom-control-label::before,
.custom-radio-secondary .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--secondary);
}

.custom-checkbox-brown .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox-brown .custom-control-input:checked~.custom-control-label::after,
.custom-radio-brown .custom-control-input:checked~.custom-control-label::before,
.custom-radio-brown .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--brown);
}

.custom-checkbox-orange2 .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox-orange2 .custom-control-input:checked~.custom-control-label::after,
.custom-radio-orange2 .custom-control-input:checked~.custom-control-label::before,
.custom-radio-orange2 .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--orange2);
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before {
    border-color: var(--dark);
    background-color: var(--white);
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .form-group,
    .form-control {
        font-size: .9rem;
    }
}

// Fix to remove green color when the fields are valids

.was-validated .form-control:valid, .form-control.is-valid {
    border-color: $input-border-color;
    background-image: none;
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before, 
.custom-control-input.is-valid ~ .custom-control-label::before {
    border-color: #adb5bd;
}

.focus:not([invalid]) .ts-control,
.was-validated .form-control:valid:focus, 
.form-control.is-valid:focus,
.was-validated .custom-control-input:valid:focus ~ .custom-control-label::before {
    border-color: rgba(12, 190, 226, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(12, 190, 226, 0.25);
}

.was-validated .focus.invalid .ts-control {
    box-shadow: none;
}

.was-validated .form-check-input:valid ~ .form-check-label {
    color: var(--dark);
}

.is-invalid .ts-control,
.was-validated .invalid .ts-control {
    border-color:  var(--danger);
}

.focus .is-invalid .ts-control,
.was-validated .ts-wrapper.form-control.invalid.focus,
.focus .was-validated .invalid .ts-control {
    border-color: var(--danger);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    border-radius: 0.25rem;
}