@import 'select2/dist/css/select2.min.css';
@import '@ttskch/select2-bootstrap4-theme/src/select2-bootstrap4.scss';

span.select2-selection.select2-selection--single {
    padding-left: $input-padding-x !important;
    font-size: $font-size-base !important;
}

.select2-results__options {
    max-height: 336px !important;
}

.select2-selection:focus,
.select2-selection[aria-expanded="true"],
.select2-dropdown {
    border-color: $custom-select-focus-border-color !important;
    border-width: $custom-select-border-width !important;
}

.select2-selection:focus,
.select2-selection[aria-expanded="true"] {
    box-shadow: $custom-select-focus-box-shadow !important;
}

.select2-dropdown {
    box-shadow: 0 4px .5rem -2px $input-btn-focus-color !important;
}

li.select2-results__option {
    padding: $input-padding-y !important;
    font-size: .9rem !important;
}

li.select2-results__option--highlighted {
    background-color: $secondary !important;
}


.select2-container--default .select2-selection--multiple {
    border-color: $input-border-color !important;
}

.input-group .select2-container--default .select2-selection--multiple {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select2-container--default .select2-selection--multiple li.select2-selection__choice {
    background-color: $light !important;
    font-size: .9rem !important;
}