@import "./bootstrap-custom";

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 64px;
    background-color: #fafafafa;
}

.container {
    padding-top: 24px;
    // padding-bottom: 1px;
}

.min-vh-100 {
    min-height: calc(100vh - 202px) !important;
}

.min-vh-80 {
    min-height: calc(100vh - 245px);
}

section {
    margin: 16px 0 24px 0;
}

.btn,
.form-control,
.dropdown-menu,
.input-group-text {
    font-size: $font-size-base;
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-header {
    opacity: .5;
}

/* Loader spinner */
#loader {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader .fas {
    font-size: 2.5em;
    opacity: 0.5;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    34% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// Animation de synchronisation
.fas.fa-sync-alt {
    animation: sync 1s linear infinite;
}

@keyframes sync {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-signin {
    max-width: 320px !important;
}

// Pagination
.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

.page-link {
    color: var(--primary);
}

.btn>.sortable {
    color: var(--dark);
}

.btn>.sortable:hover {
    color: white;
}

//
#logo-site {
    max-width: 200px;
}

.fa-phone {
    transform: rotate(160deg);
}

// Astérisque pour les champs obligatoires dans les formulaires
label.required:after,
th.required:after {
    content: " *";
    color: #dc3545;
}

/* Affichage de l'oeil pour voir le mot de passe */
.js-show-password {
    opacity: 0.5;
}

.js-show-password:hover {
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease;
}

/* Largeur maximale */
.w-max-100 {
    max-width: 100px;
}

.w-max-120 {
    max-width: 120px;
}

.w-max-140 {
    max-width: 140px;
}

.w-max-150 {
    max-width: 140px;
}

.w-max-160 {
    max-width: 160px;
}

.w-max-165 {
    max-width: 165px;
}

.w-max-170 {
    max-width: 170px;
}

.w-max-180 {
    max-width: 180px;
}

.w-max-200 {
    max-width: 200px;
}

.w-max-220 {
    max-width: 220px;
}

/* Largeur minimale */
.w-min-100 {
    min-width: 100px;
}

.w-min-120 {
    min-width: 120px;
}

.w-min-150 {
    min-width: 150px;
}

.w-min-180 {
    min-width: 180px;
}

.w-min-200 {
    min-width: 200px;
}

.h-max-38 {
    max-height: 38px;
}

.h-max-76 {
    max-height: 76px;
}


// Bouton case à cocher
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    /* background-color: #00aeef; */
    border-radius: 4px;
}

.custom-checkbox-dark .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--dark);
}

.custom-checkbox-brown .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--brown);
}

// Bouton radio
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    border-radius: 8px;
}

.custom-radio-brown .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--brown);
}

.custom-radio-brown .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--brown);
}


.justify {
    text-align: justify;
}

.font-size-9 {
    font-size: .9rem;
}

.font-size-10 {
    font-size: 1rem;
}

#results_search {
    position: absolute;
    top: 35px;
}

.fade-in {
    opacity: 1;
    transition: all 0.3s ease;
}

.fade-out {
    opacity: 0;
    transition: all 0.3s ease;
}

.position-fixed {
    z-index: 9999;
}

.z-index-1000 {
    z-index: 1000;
}

.msg-content {
    backdrop-filter: blur(4px);
    animation: opacity-on 10s linear forwards;
}

@keyframes opacity-on {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    97% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.opacity-on {
    opacity: 1;
    transition: all .5s linear;
}

.opacity-off {
    opacity: 0;
    transition: all .5s linear;
}

/* Notifications */
.msg-flash {
    min-height: 60px;
    opacity: 0.9;
}

// .tooltip-inner {
// white-space: pre-line;
// max-width: 300px;
// width: 250px;
// }

#scroll-top {
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 50px;
    height: 40px;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    z-index: 100;
}

#scroll-top .fa.fa-chevron-up {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 30px;
    color: #fff;
}

#scroll-top:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease;
}

// Fenêtre modale
.modal {
    padding: 0 !important;
}

.modal-dialog-fullscreen {
    height: 100%;
    margin: auto;
    padding: 0;
}

.modal-content {
    max-width: 1000px;
}

.modal-content-fullscreen {
    height: auto;
    min-height: 100%;
}

// Editeur de texte des notes
#editor {
    height: calc(100vh - 335px);
    min-height: 150px;
    max-height: calc(100vh - 335px);

}

.editor-fullscreen {
    height: calc(100vh - 280px) !important;
    max-height: calc(100vh - 280px) !important;
}

/* Gestion de dépassement des notes */
.note-content {
    position: relative;
    max-height: 400px;
    overflow: hidden;
}

/* Effet fade out pour le contenu des notes  */
.note-fadeout {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
}

// Document 
label.custom-file-label::after {
    content: "Dossier";
}

// Modification des couleurs des liens de tri de Paginator
thead a {
    color: var(--dark) !important;
}

thead a:hover {
    color: var(--black) !important;
}

button.btn-outline-secondary a {
    color: var(--gray) !important;
}

button.btn-outline-secondary a:hover {
    color: $light !important;
}

.page-item.active .page-link {
    background-color: var(--gray);
    border-color: var(--gray);
}

.page-link {
    color: var(--gray);
}

.page-link:hover {
    color: var(--dark);
}

/* petit espace gris pour la timeline */
#js-msg-flash:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: " ";
    width: 100%;
    height: 4px;
    background: #ddd;
    border-radius: 0px 0px 4px 4px;
    z-index: 9;
}

#timeline {
    position: absolute;
    bottom: -1px;
    left: -1px;
    height: 5px;
    border-radius: 0px 0px 2px 2px;
    z-index: 10;
    animation: timeline 10s ease forwards;
}

@keyframes timeline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
}

.reveal-on {
    opacity: 1;
    transform: translateY(0);
    transition: 1s ease;
}

.reveal-2 {
    transition-delay: .1s;
}

.reveal-3 {
    transition-delay: .2s;
}

.reveal-4 {
    transition-delay: .3s;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    .reveal {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}

@media (min-width: 992px) {

    // Navbar
    ul.navbar-nav li.dropdown:hover>.dropdown-menu {
        display: block;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

    .form-group,
    .form-control {
        font-size: .9rem;
    }
}