@page {
    counter-increment: page
}

#page-number:after {
    content: counter(page)
}

body {
    font-family: sans-serif, serif;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #343a40;
}

h1 {
    margin-top: 58px;
    padding: 2px;
    background-color: #e9ecef;
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    margin: 8px 0 12px 0;
    font-size: 22px;
    color: #555c64;
}

h3 {
    font-size: 16px;
}

p,
ul {
    margin: 0 0 6px 0;
    color: #343a40;
}

hr {
    margin: 32px 0 6px 0;
    border: 0.5px solid #b5b5b5;
}

a {
    text-decoration: none;
    color: #555c64;
}

figure {
    margin: 0;
}

table {
    border-collapse: collapse;
    font-size: 0.8rem;
    color: #343a40;
    page-break-inside: avoid;
    break-inside: avoid-page;
}

th,
tr,
td {
    text-align: left;
    border: 1px solid #b5b5b5;
}

th,
td {
    padding: 4px;
}

th {
    background-color: #e9ecef;
    font-weight: bold;
}

.break-inside {
    page-break-inside: avoid;
    break-inside: avoid-page;
}

.header,
.footer {
    font-size: 0.8rem;
    font-style: italic;
    color: grey;
}

.footer {
    position: fixed;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.t-0 {
    bottom: 0;
}

.b-0 {
    bottom: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}