table {
    font-size: 0.9rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    /* background-color: #00aeef; */
    border-radius: 4px;
}

.custom-checkbox-brown .custom-control-input:checked~.custom-control-label::after {
    background-color: var(--brown);
    border-radius: 4px;
}

.table-admin .badge {
    font-size: 0.4em;
}

table th {
    padding-right: 6px !important;
}

table .th-w-20 {
    width: 20px;
}

table .th-w-40 {
    width: 50px;
}

table .th-w-50 {
    width: 50px;
}

table .th-w-60 {
    width: 50px;
}

table .th-w-80 {
    width: 80px;
}

table .th-date,
table .th-w-100 {
    width: 100px;
    max-width: 100px;
}

table .th-w-120 {
    width: 120px;
}

table .th-w-130 {
    width: 130px;
}

table .th-w-140 {
    width: 140px;
}

table .th-w-150 {
    width: 150px;
    min-width: 150px;
}

.input-date {
    width: 120px;
    max-width: 120px;
}