/* petit espace gris pour la timeline */
#js-msg-flash:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: " ";
    width: 100%;
    height: 4px;
    background: #ddd;
    border-radius: 0 0 4px 4px;
    z-index: 9;
}

#timeline {
    position: absolute;
    bottom: -1px;
    left: -1px;
    height: 5px;
    border-radius: 0 0 2px 2px;
    z-index: 10;
    animation: timeline 10s ease forwards;
}

.msg-content {
    backdrop-filter: blur(4px);
    animation: opacity-on 10s linear forwards;
}

.msg-flash {
    min-height: 60px;
    opacity: 0.9;
}


@keyframes timeline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.opacity-on {
    opacity: 1;
    transition: all .5s linear;
}

.opacity-off {
    opacity: 0;
    transition: all .5s linear;
}

@keyframes opacity-on {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    97% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}