{% extends 'model/_support_search_form.html.twig' %}

{% block search_form %}    
    <div class="col-auto my-1 px-1">{{ form_widget(form_search.type) }}</div>
    <div class="col-auto my-1 px-1">{{ form_widget(form_search.dateType) }}</div>
    <div class="col-auto d-inline-flex my-1 px-1 align-items-center" title="Date de début" data-toggle="tooltip" data-placement="bottom">
        <span class="pe-2">Entre</span>{{ form_widget(form_search.date.start) }}
    </div>
    <div class="col-auto d-inline-flex my-1 px-1 align-items-center" title="Date de fin" data-toggle="tooltip" data-placement="bottom">
        <span class="pe-2">et</span>{{ form_widget(form_search.date.end) }}
    </div>  
{% endblock %}