{% apply inline_css(source('@styles/email.css')) %}
<html lang="fr">
<head>
	<meta charset="utf-8" />
</head>
<body>
	{% block greeting %}
    	<p class="mb-4">Bonjour {{ app.user ? app.user.firstname }}, </p>
	{% endblock %}
	{% block body %}{% endblock %}
	{% block footer %}
		<footer class="p-2">
			<hr>
			<p class="text-secondary small">Ceci est un message automatique, merci de ne pas y répondre.</p>
			<img class="mb-2" src="{{ email.image('@images/logo_assia_mail.png') }}" width="120" alt="Application Assia">
		</footer>
	{% endblock %}
</body>
</html>
{% endapply %}