<html lang="fr">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bibliothèque Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="font-size: 0.9rem;">

	{% block greeting %}
    	<p class="mb-4">Bonjour {{ app.user ? app.user.firstname }}, </p>
	{% endblock %}

	{% block body %}{% endblock %}


	{% block footer %}
		<footer class="p-2">
			<hr>
			<p class="text-secondary small">Ceci est un message automatique, merci de ne pas y répondre.</p>
			<img class="d-block mb-2" src="{{ absolute_url(asset('images/logo_e95_mail.png')) }}" alt="Esperer 95">
			<p class="text-secondary small">Esperer 95</p>
		</footer>
	{% endblock %}

</body>
</html>