{% extends "emails/baseEmail.html.twig" %}

{% block body %}

    <p>Nom du suivi : {{ fullnamePerson }}</p>
    <p>N° suivi : {{ supportId }}</p>
    <p>{{ evaluation_group|json_encode(constant('JSON_PRETTY_PRINT')) }}</p>

{% endblock %}