{% extends "emails/baseEmail.html.twig" %}

{% block body %}

    <p>Nom du suivi : {{ fullnamePerson }}</p>
    <p>N° suivi : {{ supportId }}</p>

    <p>{{ evaluation|json_encode(constant("SON_PRETTY_PRINT")) }}</p>

{% endblock %}