{% extends "emails/baseEmail.html.twig" %}

{% block hello %}
    <p class="mb-4">Bonjour {{ user.firstname }}, </p>
{% endblock %}

{% block body %}
    <p>Vous avez fait une <b>demande de réinitialisation</b> de votre mot de passe.</p>
    Veuillez cliquer sur <a href="{{ url('security_reinit_password', {'token':user.token}) }}">ce lien</a> 
    pour réinitiliaser votre mot de passe.</p>
    <br/>
    <p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce message.</p>
{% endblock %}