<html>

<body>
    <p>Bonjour {{ user.firstname }},</p>
    <p>Vous avez fait une <b>demande de réinitialisation</b> de votre mot de passe.</p>
    Veuillez cliquer sur <a href="{{ url('security_reinit_password', {'token':user.token}) }}">ce lien</a> pour
    réinitiliaser
    votre mot de passe.</p>
    <p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce message.</p>
    <hr>
    <p class="text-secondary">Ceci est un message automatique, merci de ne pas y répondre.</p>
    <img src="{{ absolute_url(asset('images/logo_e95_mail.png')) }}" alt="Esperer95-app">
</body>

</html>