<div class="float-end">
    <a href="{{ path('support_note_new_evaluation', {'id': support.id }) }}" class="btn btn-primary shadow"
        title="Exporter l'évaluation sociale vers une note interne" data-bs-toggle="tooltip" data-bs-placement="bottom" >
        <i class="fas fa-sticky-note fa-lg"></i><span class="d-none d-sm-inline ms-2">Note</span></a>
    <a href="{{ path('evaluation_export', {'id': support.id, 'type': 'word' }) }}" class="btn btn-primary shadow"
        title="Exporter l'évaluation sociale au format Word" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="fas fa-file-word bg-primary fa-lg"></i><span class="d-none d-sm-inline ms-2">Word</span></a>
    <a href="{{ path('evaluation_export', {'id': support.id, 'type': 'pdf' }) }}" class="btn btn-primary shadow"
        title="Exporter l'évaluation sociale au format PDF" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i class="fas fa-file-pdf bg-danger fa-lg"></i><span class="d-none d-sm-inline ms-2">PDF</span></a>
</div>