<div class="fixed-bottom toast m-1" style="min-height: 130px; max-width: 300px;" 
  aria-live="polite" aria-atomic="true" data-autohide="false">
  <div class="toast-header">
    <span class="fas fa-exclamation-triangle text-warning fa-2x me-2"></span>
    <strong class="me-auto">Version démo de l'application</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
      Attention, ceci est une <strong>version de démo</strong> de l'application !<br/>
      Les données ne seront pas conservées.
  </div>
</div>