<footer class="mt-4 p-3 bg-dark text-light">
    <div class="d-md-flex justify-content-md-between">
        <p>
            <strong class="fw-bold">Application ASSIA © 2020-2022 ESPERER 95. Tous droits réservés.</strong><br/>
            <span class="small">ESPERER 95, association loi 1901 n°06385 déclarée le 9 février 1979. J.O. du 16 février 1979.</span><br/>
            <a href="https://esperer-95.org" target="_blank" class="link-light text-decoration-underline">esperer-95.org</a><br/>
            <span class="small text-light">Application créée et développée par 
                <a href="https://www.linkedin.com/in/romain-madelaine/" target="_blank" class="link-light">Romain MADELAINE</a>
            </span>
        </p>
        <p>Version 3.23.0 | 06/07/2022</p>
    </div>
</footer>