<img src="{{ logo_path }}" width="150" class="pos-absolute" style="top: -30px;"/>
<p class="header" style="right: 10px;">{{ header_info ?? '' }}</p>
<div class="footer">
    <p class="pos-fixed" style="left: 300px;">{{ "now"|date("d/m/Y") }}<p>
    <p class="pos-fixed" style="right: 10px;"><span id="page-number"></span><p>
</div>