{# {% block role_user_widget %}
<table>
    <tr id="registration_serviceUser_1">
        <th scope="row">{{ form_widget(form.serviceUser.vars.prototype.role) }}</th>
        <td>{{ form_widget(form.serviceUser.vars.prototype.service) }}</td>
        <td class="align-middle"></td>
        <td class="align-middle">
            <button class="btn btn-danger js-remove"><i class="fas fa-trash-alt"></i></button>
        </td>
    </tr>
</table>
{% endblock role_user_widget %}

<tr id="registration_serviceUser_1">
    <th scope="row">
        <select id="registration_serviceUser_1_role" name="registration[serviceUser][1][role]" required="required"
            class="col-auto my-1 form-control">
            <option value="">-- Sélectionner --</option>
            <option value="1" selected="selected">Travailleur social</option>
            <option value="2">Chef·fe de service</option>
            <option value="3">Directeur/trice</option>
            <option value="4">Administratif</option>
            <option value="5">Chargé de mission</option>
            <option value="6">Stagiaire</option>
            <option value="7">Autre</option>
        </select>
    </th>
    <td>
        <select id="registration_serviceUser_1_service" name="registration[serviceUser][1][service]" required="required"
            class="col-auto my-1 form-control">
            <option value="">-- Sélectionner --</option>
            <option value="1">ALTHO</option>
            <option value="2" selected="selected">ASSLT - ASLLT</option>
            <option value="3">10 000 logements</option>
            <option value="4">CHU les Carrières</option>
            <option value="5">CHRS Etape</option>
            <option value="6">DHUA</option>
            <option value="7">L'Ensemble - Accueil de jour</option>
            <option value="8">L'Ensemble - Accueil de nuit</option>
            <option value="9">CHRS L'Ensemble</option>
            <option value="10">L'Ensemble - Maison Relais</option>
            <option value="11">L'Ensemble - Taxi social</option>
            <option value="12">Maison Milada</option>
            <option value="13">Maison Lucien</option>
            <option value="14">MHU Oasis</option>
        </select></td>
    <td class="align-middle">Habitat et Accès au Logement</td>
    <td class="align-middle"><button class="btn btn-danger js-remove">
            <i class="fas fa-trash-alt"></i></button>
    </td>
</tr> #}