{% extends "base.html.twig" %}

{% block title %}Erreur 500{% endblock %}

{% block body %}
<div class="container">
    <section class="row min-vh-80">
        <div class="m-auto text-center">
            {% include "model/_msgFlash.html.twig" %}
            <h1 class="h2 mb-4">Erreur 500</h1>
            <p class="mb-4">Une erreur serveur s'est produite. Un e-mail a été envoyé au développeur afin de corriger le problème.</p>
            <a href="{{ path('home') }}" class="btn btn-{{ theme_color }} mt-2 p-2 shadow">Retour à la page d'accueil</a>
        </div>
    </section>
</div>
{% endblock %}