{% extends "baseLight.html.twig" %}

{% set title = "Maintenance" %}

{% block title %}{{ title }}{{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <section class="row min-vh-80">
            <div class="m-auto text-center">
                <h1 class="h2 mb-4">{{ title }}</h1>
                <p class="mb-3">Le site est actuellement en maintenance.</p>
                <p class="mb-3">Nous sommes désolés pour le désagrément.</p>
                <p class="mb-3">Merci de patienter et de réessayer ultérieurement.</p>
            </div>
        </section>
    </div>

{% endblock %}