{% extends 'base_light.html.twig' %}

{% block title %}Maintenance | Application Assia{% endblock %}

{% block body %}
    <div class="container">
        <section class="position-absolute top-50 start-50 translate-middle text-center">
            <h1 class="h2 mb-4">Maintenance</h1>
            <p class="mb-3">L'application est actuellement en maintenance.</p>
            <p class="mb-3">Nous sommes désolés pour le désagrément.</p>
            <p class="mb-3">Merci de patienter et de réessayer ultérieurement.</p>
        </section>
    </div>
{% endblock %}