<hr/>
<section class="mb-5">
    <div class="d-flex mb-3">
        <h2 class="h4">Parcours de vie</h2>
        <span class="align-content-center"><a href="{{ path('support_evaluation_show', {'id': support.id }) }}" 
            class="text-{{ theme_color }} ms-2" title="Modifier l'évaluation sociale"><span class="fas fa-edit"></span></a>
        </span>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 justify">{{ evaluation.backgroundPeople|nl2br }}</div>
    </div>
</section>