<div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="modalConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmation">Demande de confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Êtes-vous vraiment sûr ?</div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="float-left">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>
                <div class="float-right">
                    <button type="button" id="modal-confirm-btn" class="btn btn-{{ theme_color }} text-white"
                        data-dismiss="modal">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
</div>