{# Message en session flash #}
{% if app.request.hasPreviousSession %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible" role="alert">
                {{ message|trans({}, 'forms')|raw }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}