<div id="{{ modal_id ?? 'modal-block' }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalConfirmation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content {% block modal_bg %}{% endblock %}">

            {% block modal_content %}
                <div class="modal-header">
                    <h5 class="modal-title" id="modalConfirmation">
                        {% block modal_title %}Demande de confirmation{% endblock %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                {% block modal_body_and_footer %}
                    <div class="modal-body">
                        {% block modal_body %}Êtes-vous vraiment sûr ?{% endblock %}
                    </div>

                    <div class="modal-footer d-flex justify-content-between">
                        {% block modal_footer %}
                            <div class="float-start">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% block modal_cancel %}Annuler{% endblock %}</button>
                            </div>
                            <div class="float-end">
                                <button type="button" id="modal-confirm" class="btn btn-{% block modal_alert %}{{ theme_color }} text-white{% endblock %}"
                                    href="{% block modal_href %}{% endblock %}" data-dismiss="modal">{% block modal_confirm %}Confirmer{% endblock %}</button>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}  
            {% endblock %}
        </div>
    </div>
</div>