
<div class="row my-2">
	<div class="col-md-12">
		<div class="accordion" id="accordion_search">
			<h2 class="accordion-header d-block d-sm-none" id="heading_search">
				<button class="accordion-button bg-gray-light py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_search" 
					aria-expanded="true" aria-controls="collapse_search"><span class="fw-bold">Filtres</span>
				</button>
			</h2>
			<div id="collapse_search" class="accordion-collapse collapse bg-gray-light p-1 rounded-2 float-end show" aria-labelledby="heading_search" data-bs-parent="#accordion_search">
				{{ form_start(form_search) }}
				<div class="row row-cols-lg-auto gx-0 align-items-center">
					{% block search_form %}{% endblock %}
					{% if is_granted('ROLE_SUPER_ADMIN') %}
						<div class="col-auto mx-2 my-1">
							<div class="form-check ps-0"
								title="Voir les paiements supprimés" data-bs-toggle="tooltip" data-bs-placement="bottom">
								{{ form_widget(form_search.deleted.deleted) }}
							</div>
						</div>
					{% endif %}
					<div class="col-auto my-1 px-1">
						<button type="submit" id="search" class="btn btn-primary shadow" 
							data-bs-toggle="tooltip" data-bs-placement="bottom" title="Rechercher">
							<span class="fas fa-search"></span><span class="visually-hidden">Rechercher</span>
						</button>
						<button type="reset" class="btn btn-secondary ms-2 shadow" data-bs-toggle="tooltip" data-bs-placement="bottom">
							<span class="fas fa-eraser"></span><span class="visually-hidden">Effacer</span>
						</button>
						{% if form_search.export is defined %}
							{% block form_search_export %}
								<button id="js-btn-export" name="export" value="true" class="btn btn-success ms-2 shadow"
									data-bs-toggle="tooltip" data-bs-placement="bottom" title="Exporter les données sur Excel"><span
									class="fas fa-file-excel"></span><span class="visually-hidden">Exporter</span>
								</button>
							{% endblock %}
						{% endif %}
					</div>
				</div>
				{{ form_end(form_search, {'render_rest': false}) }}
			</div>
		</div>
	</div>
</div>