<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" autohide="false">
    <div class="toast-header">
        <img src="" class="rounded me-2" alt="">
        <strong class="mr-auto">
            {% block toast_title %}Notification{% endblock %}
        </strong>
        <small>
            {% block toast_time %}{% endblock %}
        </small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body"> {% block toast_body %}{% endblock %}
    </div>
</div>