{# Message en session flash #}
{% if app.request.hasPreviousSession %}
{% for label, messages in app.flashes %}
{% for message in messages %}
<div id="msg-profil" class="alert alert-{{ label }} alert-dismissible mb-3 fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endfor %}
{% endif %}