{% extends 'base.html.twig' %}

{% block title %}Liste des personnes suivies{% endblock %}

{% block stylesheets %}

<link href="{{ asset("css/table.css") }}" rel="stylesheet" />

{% endblock %}


{% block body %}

<section>
    <h1 class="my-4">Liste des personnes suivies</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover shadow">
            <thead class="bg-secondary">
                <tr>
                    <th scope="col" class="align-middle th-width-20px">
                        <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top"
                            title="Tout sélectionner">
                            <input type="checkbox" name="select-all" id="select-all" class="custom-control-input" />
                            <label class="custom-control-label" for="select-all"><span class="sr-only">Tout
                                    sélectionner<span></label>
                        </div>
                    </th>
                    <th scope="col" class="align-middle th-width-150px">
                        <a href="" class="sorting-indicator text-light">Nom
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-120px">
                        <a href="" class="sorting-indicator text-light">Prénom
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de<br />naissance
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Typologie familiale
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-width-100px">
                        <a href="" class="sorting-indicator text-light">Nombre de personnes
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de début
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                    <th scope="col" class="align-middle th-date">
                        <a href="" class="sorting-indicator text-light">Date de fin
                            <span class="fas fa-caret-up">
                        </a>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox" name="selectedPosts[]" id=""
                                value="" class="checkbox" />
                            <label class="custom-control-label" for=""><span class="sr-only">Sélectionner<span></label>
                        </div>
                    </th>
                    <td>
                        <a href="{{ path("person_show") }}" class="text-primary font-weight-bold">MADELAINE</a>
                        <a class="text-blue" href=""></a>
                    </td>
                    <td>Romain</td>
                    <td>01/01/1985</td>
                    <td>Homme seul</td>
                    <td>1</td>
                    <td>12/02/2018</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>






{% endblock %}